/* фигуры туда сюда на 1 фрейме */
/* @keyframes moveRight1 {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 800px);
  }
}

@keyframes moveRight2 {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 500px);
  }
} */

/* @keyframes moveRight3 {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 300px);
  }
} */

@keyframes rotateRight1 {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight2 {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight3 {
  0% {
    transform: translateY(1vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}
