/* фигуры туда сюда на 1 фрейме */

@keyframes rotateRight1 {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight2 {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight3 {
  0% {
    transform: translateY(1vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight4 {
  0% {
    transform: translateY(1vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}
