.bold {
  font-family: "TTLakesNeueEduBold";
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
}

.medium {
  font-family: "TTLakesNeueEduMedium";
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
}

.regular {
  font-family: "TTLakesNeueEduRegular";
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
}

/* секции первый уровень */
#section-1 {
  width: 22.4vw;
  height: 84vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left {
  display: flex;
  padding-left: 2vw;
  width: 7.5vw;
  height: 84vw;
  position: relative;
}

#section-1-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 2vw;
  width: 100%;
}

.right1,
.right2 {
  width: 7vw;
  height: 7vw;
}

.right1 {
  animation: moveRight1 3s linear infinite alternate,
    rotateRight1 3s linear infinite alternate;
}

.right2 {
  animation: moveRight2 1.7s linear infinite alternate,
    rotateRight2 1.7s linear infinite alternate;
}

.right1 img,
.right2 img {
  width: 100%;
  height: 100%;
}
