.bold {
  font-family: "TTLakesNeueEduBold";
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
}

.medium {
  font-family: "TTLakesNeueEduMedium";
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
}

.regular {
  font-family: "TTLakesNeueEduRegular";
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
}

/* секции первый уровень */
#section-1 {
  width: 22.4vw;
  height: 84vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
.left {
  display: flex;
  padding-left: 2vw;
  width: 7.5vw;
  height: 84vw;
  position: relative;
}

.right {
  display: flex;
  width: 7vw;
  height: 7vw;
  position: relative;
}
